/* addTransaction.css */
.addTransactionSelect {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.addTransactionForm {
    background-color: #f4f7f6;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
}
.addTransactionInputsRight {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.addTransactionInputsRight label {
    display: flex;
    flex-direction: column;
}

.addTransactionInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addTransactionInputs label {
    display: flex;
    flex-direction: column;
}

.addTransactionInputs input[type="text"],
.addTransactionInputs input[type="number"],
.addTransactionInputs input[type="date"],
.addTransactionInputs select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addTransactionInputsRight input[type="text"],
.addTransactionInputsRight input[type="number"],
.addTransactionInputsRight input[type="date"],
.addTransactionInputsRight select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addTransactionButton {
    grid-column: span 2;
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.addTransactionButton:hover {
    background-color: #45a049;
}

.addTransactionForm form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.ttypeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ttypeContainer div {
    width: 48%; /* Adjust the width to control spacing between columns */
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add space between rows */
}

.ttypeContainer input[type="checkbox"] {
    margin-right: 10px; /* Space between checkbox and label */
}

.ttype {
    display: inline-block;
    font-size: 12px;
}
