.dashboardContainer {
    margin-top: 20px;
    margin-bottom: 70px;
}
.gridContainer {
    margin-bottom: 70px;
}
.earningsIcon {
    color: lightgreen;
}
.expendituresIcon {
    color: red;
}
.payableIcon {
    color: pink;
}
.receivableIcon {
    color: green;
}
.operatingIcon {
    color: #2daab8;
}
.investingIcon {
    color: #49db99;
}
.financingIcon {
    color: #4e4fde;
}
.transactionTypeIcon {
    color: #dea64e;
}
.transactionTypeIcon,
.paymentIcon,
.transactionWithIcon {
    position: relative;
    bottom: -3px;
}
.boldText {
    font-weight: bold;
}
.paymentIcon {
    color: #6c3b20;
}
.paymentHeader {
    display: flex;
}
.transactionWithIcon {
    color: #6c204f;
}
.circular-progress {
    width: 24px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
}

.db-icon {
    vertical-align: middle;
    margin-right: 5px;
}

/* Additional styles for charts */
.chartCard {
    margin-bottom: 20px;
}
.kpiCard {
    background-color: #e1f5fe;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.kpiHeader {
    color: #0288d1;
}

.kpiValue {
    color: #757575;
}
