.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 50%;
    margin-left: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-close-button {
    background-color: rgb(216, 225, 231);
    border-radius: 20px;
}

.modal-close-button:hover {
    background-color: rgb(175, 176, 176);
    cursor: pointer;
}

.modal-error {
    color: red;
}

h2 {
    color: #06b161;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.modal-content {
    margin-top: 15px;
}

.form-group-modal {
    margin-bottom: 10px;
}

.form-group-modal label {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.form-group-modal select,
.form-group-modal input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.modal-button {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0px;
}

.modal-button:hover {
    background-color: #0056b3;
}
