.headerTitle {
    color: rgb(65, 195, 102);
    font-weight: bold;
}
.error {
    color: red;
}
.login-outlet {
    margin-right: 100px;
    margin-top: -100px;
}
.starter-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 97vh; /* Adjust the height as needed */
}

.starter-layout-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Adjust the width as needed */
}

.logo-container {
    /* Adjust the size of the logo as needed */
    width: 150px;
    height: auto;
    margin-left: 5%; /* Adjust the margin as needed */
}

/* Additional styles for the Outlet (login form) */
.outlet-container {
    margin-right: 5%; /* Adjust the margin as needed */
}
.loading-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears above other content */
}

.loading-content {
    text-align: center;
    color: white; /* Change color based on your theme */
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-left-color: #fff; /* Color for the spinner */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 10px auto; /* Center the spinner */
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
