.headerTitle {
    color: rgb(82, 82, 106);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.error {
    color: red;
}
